{
    "mysql": {
        "host": "{{ mysql_host }}",
        "user": "{{ mysql_user }}",
        "pass": "{{ mysql_pass }}",
        "name": "{{ mysql_name }}",
        "options": {{ mysql_options | to_nice_json }}
    },
    "bolt": {
        "host": "{{ bolt_host }}",
        "user": "{{ bolt_user }}",
        "pass": "{{ bolt_pass }}",
        "name": "{{ bolt_name }}",
        "options": {{ bolt_options | to_nice_json }}
    },
    "postgres": {
        "host": "{{ postgres_host }}",
        "user": "{{ postgres_user }}",
        "pass": "{{ postgres_pass }}",
        "name": "{{ postgres_name }}",
        "options": {{ postgres_options | to_nice_json }}
    },
    "dialect": "{{ dialect }}",
    "port": "{{ port }}",
    "interface": "{{ interface }}",
    "tmp_path": "{{ tmp_path }}",
    "ssh_config_path": "{{ ssh_config_path }}",
    "git_client": "{{ git_client }}",
    "web_host": "{{ web_host }}",
    "cookie_hash": "{{ cookie_hash }}",
    "cookie_encryption": "{{ cookie_encryption }}",
    "access_key_encryption": "{{ access_key_encryption }}",
    "email_alert": {{ email_alert | to_json }},
    "email_sender": "{{ email_sender }}",
    "email_host": "{{ email_host }}",
    "email_port": "{{ email_port }}",
    "email_username": "{{ email_username }}",
    "email_password": "{{ email_password }}",
    "email_secure": {{ email_secure | to_json }},
    "ldap_enable": {{ ldap_enable | to_json }},
    "ldap_binddn": "{{ ldap_binddn }}",
    "ldap_bindpassword": "{{ ldap_bindpassword }}",
    "ldap_server": "{{ ldap_server }}",
    "ldap_searchdn": "{{ ldap_searchdn }}",
    "ldap_searchfilter": "{{ ldap_searchfilter }}",
    "ldap_mappings": {
        "dn": "{{ ldap_mappings_dn }}",
        "mail": "{{ ldap_mappings_mail }}",
        "uid": "{{ ldap_mappings_uid }}",
        "cn": "{{ ldap_mappings_cn }}"
    },
    "ldap_needtls": {{ ldap_needtls | to_json }},
    "telegram_alert": {{ telegram_alert | to_json }},
    "telegram_chat": "{{ telegram_chat }}",
    "telegram_token": "{{ telegram_token }}",
    "slack_alert": {{ slack_alert | to_json }},
    "slack_url": "{{ slack_url }}",
    "rocketchat_alert": {{ rocketchat_alert | to_json }},
    "rocketchat_url": "{{ rocketchat_url }}",
    "microsoft_teams_alert": {{ microsoft_teams_alert | to_json }},
    "microsoft_teams_url": "{{ microsoft_teams_url }}",
    "oidc_providers": {{ oidc_providers | to_nice_json }},
    "max_task_duration_sec": {{ max_task_duration_sec }},
    "max_tasks_per_template": {{ max_tasks_per_template }},
    "max_parallel_tasks": {{ max_parallel_tasks }},
    "runner_registration_token": "{{ runner_registration_token }}",
    "password_login_disable": {{ password_login_disable | to_json }},
    "non_admin_can_create_project": {{ non_admin_can_create_project | to_json }},
    "use_remote_runner": {{ use_remote_runner | to_json }},
    "runner": {
        "api_url": "{{ runner_api_url }}",
        "registration_token": "{{ runner_registration_token }}",
        "config_file": "{{ runner_config_file }}",
        "one_off": {{ runner_one_off | to_json }},
        "webhook": "{{ runner_webhook }}",
        "max_parallel_tasks": {{ runner_max_parallel_tasks }}
    },
    "global_integration_alias": "{{ global_integration_alias }}",
    "apps": {{ apps | to_nice_json }}
}